@model IEnumerable<eManager.Domain.Department>
    
<h2>Departments</h2>

<ul>
    @foreach (var depart in Model)
    {
        <li>
            @Html.ActionLink(depart.Name, "Details", "department", new { depart.Id}, null)
        </li>     
    }    
</ul>

